main .cadastro1 {
    position: relative;
    border-radius: 20px;
    width: 22rem;
    background: var(--white-transparent-more);
    box-shadow: 8px 5px 5px var(--black-transparent);
    margin: auto;
    padding-bottom: 30px;
    margin-top: 5vh;
}

main .cadastro1 .formulario {
    background-image: url("../imagens/one_piece.png");
    background-size: 100% 100%;
}

main .cadastro1 .formulario, .formulario_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: auto;
    padding: 25px 5px 5px 5px;
    border-radius: 20px 20px 0 0;
}

main .cadastro1 .formulario .input_email, .input_senha, 
.input_nome, .email, .senha, .repetir_senha {
    width: 80%;
    background: var(--white-transparent-less);
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 16px;
    border: 2px solid var(--orange-red);
}

main input {
    box-shadow: 0 0 0 0;
    outline: 0;
}

main .cadastro1 .formulario .btn_entrar, .btn_cadastrar {
    background: var(--transparent);
    padding: 8px 30px;
    border: 2px solid var(--green);
    transition: .7s;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--green);
}

main .cadastro1 .formulario .btn_entrar:hover {
    background: var(--green);
    color: var(--white);
    border-color: var(--white);
}

main .cadastro1 .container_redefinir {
    display: flex;
    justify-content: flex-end;
    padding: 12px 30px;
}

main .cadastro1 .container_redefinir .redefinir {
    color: var(--blue);
    font-size: 16px;
}

main .cadastro1 .container_redefinir .redefinir:hover {
    color: var(--orange-red);
}

main .cadastro1 .secao_cadastro {
    text-align: center;
    padding-top: 10px;
    border-radius: 0 0 20px 20px;
    padding-bottom: 20px;
}

main .cadastro1 .secao_cadastro h1 {
    color: var(--black);
    font-size: 17px;
    margin-bottom: 15px;
}

main .cadastro1 .secao_cadastro .btn_cadastro {
    background: var(--transparent);
    border: 2px solid var(--blue);
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    color: var(--blue);
}

main .cadastro1 .secao_cadastro .btn_cadastro:hover {
    color: var(--white);
    box-shadow: 0 .5em .5em -.4em var(--blue);
    transform: translateY(-.25em);
}

main .modal_redefinir {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--black-transparent);
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

main .modal_redefinir .modal {
    background: var(--white);
    width: 80%;
    margin: auto;
    border-radius: 0 20px;
    box-shadow: 5px 5px 8px var(--blue);
    margin-top: 8vh;
    padding-bottom: 15px;
}

main .modal_redefinir .modal .container_close {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
}

main .modal_redefinir .modal .container_close .close {
    color: var(--red);
    font-size: 22px;
}

main .modal_redefinir .modal .container_close .close:hover {
    color: var(--red-escuro);
}

main .modal_redefinir .modal .titulo_modal {
    text-align: center;
    font-size: 24px;
}

main .modal_redefinir .modal .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 15px;
}

main .modal_redefinir .modal .conteudo .informacao {
    text-align: center;
    line-height: 1.6;
    font-weight: bold;
}

main .modal_redefinir .modal .conteudo .input_redefinir {
    width: 85%;
    padding: 8px 15px;
    border-radius: 20px 0;
    border: 2px solid var(--green);
    font-size: 16px;
}

main .modal_redefinir .modal .conteudo .btn_enviar {
    background: var(--transparent);
    padding: 10px;
    border: 2px solid var(--orange-red);
    color: var(--orange-red);
    border-radius: 15px 0;
    font-weight: bold;
    font-size: 16px;
    transition: .7s;
}

main .modal_redefinir .modal .conteudo .btn_enviar:hover {
    box-shadow: 0 .5em .5em -.4em var(--orange-red);
    transform: translateY(-.25rem);
}



main .cadastro {
    border-radius: 20px;
    padding-bottom: 13px;
    width: 20rem;
    height: 100%;
    margin: auto;
    box-shadow: 8px 5px 5px var(--black-transparent);
}

main #cadastro {
    background-image: url("../imagens/one_piece2.png");
    background-size: 100% 100%;
}

main .cadastro .formulario_cadastro {
    gap: 15px;
    margin-bottom: 13px;
}

main .cadastro .formulario_cadastro .input_nome, .email, .senha, .repetir_senha {
    border-color: var(--blue);
}

main .cadastro .formulario_cadastro .container_exibir, .exibirSenha {
    display: flex;
}

main .cadastro .formulario_cadastro .container_exibir {
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

main .cadastro .formulario_cadastro .container_exibir .exibirSenha {
    margin: 2px 12px;
}

main .cadastro .formulario_cadastro .container_exibir .exibirSenha span, .exibirText {
    color: var(--green);
}

main .cadastro .formulario_cadastro .container_exibir .exibirSenha span {
    margin-right: 8px;
    font-size: 20px;
}

main .cadastro .formulario_cadastro .container_exibir .exibirSenha .exibirText {
    font-weight: bold;
}

main .cadastro .formulario_cadastro .btn_cadastrar {
    border-color: var(--yellow);
    color: var(--yellow);
}

main .cadastro .formulario_cadastro .btn_cadastrar:hover {
    box-shadow: 0 .5em .5em -.4em var(--yellow);
    transform: translateY(-.25em);
}

main .cadastro .voltar {
    font-weight: bold;
    font-size: 22px;
    margin: 0 35px;
    color: var(--orange-red);
}

main .cadastro .voltar:hover {
    margin-left: 25px;
    color: var(--orange);
}

main .cadastro a, .redefinir {
    cursor: default;
}



@media screen and (orientation: landscape) {
    main {
        padding: 10vh 0;
    }
    
    main .cadastro1, .cadastro {
        width: 55%;
    }
    
    main .modal_redefinir {
        padding: 10vh 0;
        overflow: scroll;
    }
    
    main .modal_redefinir .modal {
        width: 55%;
    }
}



@media screen and (min-width: 601px) and (max-width: 900px) {
    main {
        padding: 10vh 0;
    }
    
    main .cadastro1, .cadastro {
        width: 55%;
    }
    
    main .cadastro1 .formulario .input_email, .input_senha, 
    .input_nome, .email, .senha, .repetir_senha {
        font-size: 17px;
    }
    
    main .cadastro1 .formulario .btn_entrar, .btn_cadastrar {
        font-size: 17px;
    }
    
    main .cadastro1 .container_redefinir .redefinir {
        font-size: 17px;
        font-weight: bold;
    }
    
     main .cadastro1 .secao_cadastro h1 {
        font-size: 18px;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }

    main .cadastro1 .secao_cadastro .btn_cadastro {
        font-size: 17px;
    }

    main .cadastro1 .secao_cadastro .btn_cadastro:hover {
        color: var(--blue);
    }
    
    main .cadastro .voltar {
        font-size: 23px;
        color: var(--yellow);
    }

    main .cadastro .voltar:hover {
        color: var(--orange-red);
    }
    
    main .modal_redefinir {
        padding: 17vh 0;
        overflow: hidden;
    }
    
    main .modal_redefinir .modal {
        width: 55%;
    }
    
    main .modal_redefinir .modal .container_close .close {
        font-size: 23px;
    }
    
    main .modal_redefinir .modal .titulo_modal {
        font-size: 25px;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }

    main .modal_redefinir .modal .conteudo {
        padding: 10px 20px;
    }
    
    main .modal_redefinir .modal .conteudo .informacao {
        font-size: 18px;
    }

    main .modal_redefinir .modal .conteudo .input_redefinir {
        font-size: 17px;
    }

    main .modal_redefinir .modal .conteudo .btn_enviar {
        font-size: 17px;
    }
}



@media screen and (min-width: 901px) {
    main {
        padding: 10vh 0;
    }
    
    main .cadastro1, .cadastro {
        width: 30%;
    }
    
    main .cadastro1 .formulario .input_email, .input_senha, 
    .input_nome, .email, .senha, .repetir_senha {
        font-size: 18px;
    }
    
    main .cadastro1 .formulario .btn_entrar, .btn_cadastrar {
        font-size: 18px;
        cursor: pointer;
    }
    
    main .cadastro1 .container_redefinir .redefinir {
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }
    
     main .cadastro1 .secao_cadastro h1 {
        font-size: 19px;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }

    main .cadastro1 .secao_cadastro .btn_cadastro {
        font-size: 18px;
        cursor: pointer;
    }

    main .cadastro1 .secao_cadastro .btn_cadastro:hover {
        color: var(--blue);
    }
    
    main .cadastro .voltar {
        font-size: 24px;
    }
    
    main .modal_redefinir {
        padding: 20vh 0;
        overflow: hidden;
    }
    
    main .modal_redefinir .modal {
        width: 30%;
    }
    
    main .modal_redefinir .modal .container_close .close {
        font-size: 24px;
        cursor: pointer;
    }
    
    main .modal_redefinir .modal .titulo_modal {
        font-size: 26px;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }

    main .modal_redefinir .modal .conteudo {
        padding: 10px 25px;
    }
    
    main .modal_redefinir .modal .conteudo .informacao {
        font-size: 20px;
    }

    main .modal_redefinir .modal .conteudo .input_redefinir {
        font-size: 18px;
    }

    main .modal_redefinir .modal .conteudo .btn_enviar {
        font-size: 18px;
        cursor: pointer;
    }

    main .cadastro .formulario_cadastro .container_exibir .exibirSenha {
        margin: 4px 14px;
        display: flex;
        align-items: center;
    }

    main .cadastro .formulario_cadastro .container_exibir .exibirSenha span {
        margin-right: 10px;
        font-size: 22px;
    }

    main .cadastro .formulario_cadastro .container_exibir .exibirSenha .exibirText {
        font-size: 18px;
        font-weight: bold;
    }
}



@media screen and (prefers-color-scheme: dark) {
    main .cadastro1 {
        background: var(--black);
    }

    main .cadastro1 .formulario .input_email, .input_senha, 
    .input_nome, .email, .senha, .repetir_senha {
        border-color: var(--orangered-claro);
        background: rgba(0, 0, 0, .7);
        color: var(--white);
    }

    main .cadastro1 .formulario .btn_entrar, .btn_cadastrar {
        color: var(--green-escuro);
        border-color: var(--green-escuro);
    }

    main .cadastro1 .formulario .btn_entrar:hover {
        background: var(--green-escuro);
        color: var(--black);
        border-color: var(--black);
    }

    main .cadastro1 .container_redefinir .redefinir {
        color: var(--blue-escuro);
    }

    main .cadastro1 .container_redefinir .redefinir:hover {
        color: var(--orangered-claro);
    }

    main .cadastro1 .secao_cadastro h1 {
        color: var(--white);
    }
    
    main .cadastro1 .secao_cadastro .btn_cadastro {
        background: var(--transparent);
        border-color: var(--blue-escuro);
        color: var(--blue-escuro);
    }
    
    main .cadastro1 .secao_cadastro .btn_cadastro:hover {
        color: var(--blue-escuro);
        box-shadow: 0 .5em .5em -.4em var(--blue-escuro);
    }

    main .modal_redefinir .modal {
        background: var(--black);
    }

    main .modal_redefinir .modal .titulo_modal {
        color: var(--white);
    }

    main .modal_redefinir .modal .conteudo .informacao {
        color: var(--white);
    }

    main .modal_redefinir .modal .conteudo .input_redefinir {
        border-color: var(--green-escuro);
    }

    main .modal_redefinir .modal .conteudo .btn_enviar {
        color: var(--orangered-claro);
        border-color: var(--orangered-claro);
    }

    main .modal_redefinir .modal .conteudo .btn_enviar:hover {
        box-shadow: 0 .5em .5em -.4em var(--orangered-claro);
    }

    main .cadastro .formulario_cadastro .input_nome, .email, .senha, .repetir_senha {
        border-color: var(--blue);
    }
    
    main .cadastro .formulario_cadastro .btn_cadastrar {
        border-color: var(--yellow-dessaturado);
        color: var(--yellow-dessaturado);
    }
    
    main .cadastro .formulario_cadastro .btn_cadastrar:hover {
        box-shadow: 0 .5em .5em -.4em var(--yellow-dessaturado);
    }
    
    main .cadastro .voltar {
        color: var(--yellow-escuro);
    }
    
    main .cadastro .voltar:hover {
        color: var(--orangered-claro);
    }
}
